.te {
    z-index: 1030;
}

.hsection {
    background-color: #1E152A;
}
.box1{
    width: 35px;
    height: 25px;
}
.df{
font-size: 15px;
padding-bottom: 5px;
}

.m{
    width: 00px;
    height: 300px;
}
